<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="CertDirectory" value="D:\\Documents\\cert"/>
    <add key="SecureString" value="MyDevice$123"/>
    <add key="DpsIdScope" value="0ne0000F248"/>
    <add key="GlobalDPEndpoint" value="global.azure-devices-provisioning.net"/>
  </appSettings>
</configuration>